<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:fragment="footer">
    <footer class="text-center">
        <div class="jumbotron bg-dark">
            <h1 class="text-light">Online Store</h1>
            <div class="row">
                <div class="col text-light">Secciones:
                    <p>Hola</p>
                    <p>Adiós</p>
                </div>
                <div class="col text-light">Sobre nosotros</div>
                <div class="col text-light">Otros datos</div>
                <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span>
                <a th:href="@{/logout}">Sign Out</a>
            </span>


            </div>
            <p class="text-light">Esta sección se encuentra actualmente en construcción.</p>
        </div>
    </footer>
</div>
</body>
</html>