<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header">...</div>

<div class="container">
    <h2>Añadido al carro:</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Imagen</th>
            <th>Id Producto</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Quitar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orden: ${ordenDetalles}">
            <input id="cliente" th:hidden="true" th:value="${orden.getIdCliente()}"></input>
            <td><img th:src="@{'/images/products/'+${orden.getImagen()}}" alt="producto" height="42" width="42"/></td>
            <td th:text="${orden.getIdProducto()}"></td>
            <td th:text="${orden.getNombre_prod()}"></td>
            <td th:text="${orden.getCantidad()}"></td>
            <td th:text="${orden.getPrecio_prod()}"></td>
            <td th:text="${orden.getTotal()}"></td>
            <td>
                <a class="btn btn-outline-danger" th:height="5" th:width="5"
                   th:href="@{'quitarDeCarro/'+${orden.getId()}}" th:method="POST">x</a>
            </td>
        </tr>
        </tbody>
    </table>

        <input th:type="button" class="btn-primary btn text-light" onclick="obtenerIdCliente()" value="Confirmar compra"></input>
        <a type="button" class="btn btn-primary" th:href="@{/}">Seguir Navegando</a>

</div>


<div th:replace="fragments/footer :: footer">...</div>

<script>
    function obtenerIdCliente() {
        var id = document.getElementById("cliente").value;
        window.location="/tramitarPedido/"+id;
    }
</script>
</body>
</html>