<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
<div th:replace="fragments/header :: header">...</div>

<h1 th:tex="${categoriaCategory.getNombre()}"></h1>

<div class="row">
    <div class="col-3" th:each="prod: ${ productCategory}">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <img th:src="@{'/images/products/'+${prod.getImagen()}}" alt="producto" class="card-img-top"/>
                </div>
                <h4 class="card-title text-dark" th:text="${prod.getNombre()}"></h4>
                <p class="card-text text-dark" th:text="${prod.getId()}"></p>
                <p class="card-text text-dark" th:text="${prod.getPrecio()}"></p>
                <a th:href="@{'/productoUnico/'+${prod.getId()}}" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">...</div>

</body>

</html>