<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.js"></script>


    <style>
        .carousel-caption {
            position: absolute;
            top:30%;
        }

    </style>

</head>

<body>

<div th:replace="fragments/header :: header">...</div>

<h4>Características del producto: </h4>
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <img th:src="@{'/images/products/'+${producto.getImagen()}}" alt="producto" class="img-responsive" style="width:50%"/>
                </div>
                <div class="col">
                    <h4><span class="text-center" th:text="${producto.getNombre()}"></span></h4>
                    <p th:text="${producto.getDescripcion()}"></p>
                    <p th:text="${producto.getPrecio()}" class="font-weight-bolder">$<span class="text-center" th:text="${producto.getPrecio()}"></span></p>
                    <p th:text="${producto.getIdCategoria()}"></p>
                </div>
                <div class="col">
                    <div class="card bg-light">
                        <div class="card-header">
                            <h3>$<span class="text-center" th:text="${producto.getPrecio()}"></span></h3>
                        </div>

                        <div class="card-body">
                            <div class="form-group mr-sm-1">
                                <label>Cantidad:</label>
                                <div class="row">
                                    <div class="col">
                                        <input class="text form-control mr-sm-2" th:placeholder="Cantidad" th:default="1"/>
                                    </div>
                                    <div class="col">
                                        <div class="btn-group">
                                            <button type="submit" class="btn-primary">+</button>
                                            <button type="submit" class="btn-primary">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/*@thymesVar id="Cantidad" type=""*/-->
                            <a class="btn btn-primary btn-sm" th:href="@{'/agregarEnCarro/'+${producto.getId()}}" th:method="POST">Añadir al carrito</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h4>Otros productos similares: </h4>

<div class="row">
    <div class="owl-carousel owl-theme">

        <div class="owl-item" th:each="prod: ${productos}">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <img th:src="@{'/images/products/'+${prod.getImagen()}}" alt="producto" class="card-img-top"/>
                    </div>
                    <h4 class="card-title text-dark" th:text="${prod.getNombre()}"></h4>
                    <p class="card-text text-dark" th:text="${prod.getId()}"></p>
                    <p class="card-text text-dark" th:text="${prod.getPrecio()}"></p>
                    <!--<a th:href="@{/productoUnico/}" class="btn btn-primary">Comprar</a>-->
                    <a class="btn btn-primary btn-sm" th:href="@{'/agregarEnCarro/'+${prod.getId()}}" th:method="POST">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>